<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<div class="row marketing">
  <form class="form-inline" role="form">
    <div class="form-group col-md-10">
      <input type="text" class="form-control" style="width:100%;" placeholder="Enter query" ng-model="query">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
  </form>
</div>

<div class="row marketing" ng-hide="results">
  <div class="col-md-12">
    <img src="images/yeoman.png" alt="I'm Yeoman" class="center-block" ng-hide="error" id="yeoman">
  </div>
  <div class="col-md-12">
    <img src="images/yeoman-error.png" alt="I'm Yeoman" class="center-block" ng-show="error" id="yeoman-error">
  </div>
</div>

<div class="row marketing" ng-show="results">
  <div class="col-md-12">
    <ul style="list-style-type: none; padding:0; margin:0;">
      <li class="animate-repeat" ng-repeat="result in results">
        <div class="bs-callout {{result.responseType()}}">
          <h4 ng-click="result.toggle()">{{result.name}}</h4>
          <span class="execution">&nbsp;-&nbsp;{{result.timeAgo()}}</span>
          <div collapse="!result.isCollapsed" style="clear: both;">
            <dl class="request">
              <dt>url:</dt>
              <dd>{{result.url()}}</dd>
              <dt>status:</dt>
              <dd>{{result.data.response.status}}</dd>
              <dt>requested at:</dt>
              <dd>{{result.executedAt()}}</dd>
              <dt>duration:</dt>
              <dd>{{result.duration()}}ms</dd>
            </dl>
            <h5>request</h5>
            <div hljs source="result.requestBody()" ng-show="result.requestBody()"/>
            <h5>response</h5>
            <div hljs source="result.responseBody()" ng-show="result.responseBody()"/>
          </div
        </div>
      </li>
    </ul>
  </div>
</div>
