include ./partials/search

.row.marketing(ng-hide='results')
  .col-md-12
    img#yeoman-error.center-block(src='images/yeoman-error.png', alt='I\'m Yeoman', ng-show='error')

div(ng-show='noResults' style='margin-top: 30px; text-align: center;')
  .row.marketing
    .col-md-2.col-md-offset-5
      i.fa.fa-question-circle.fa-5
  .row.marketing
    .col-md-2.col-md-offset-5
      span Sorry no result found

.row.marketing(ng-show='results')
  .col-md-12
    ul(style='list-style-type: none; padding: 0; margin: 0;')
      li.animate-repeat(ng-repeat='result in results')
        .bs-callout(ng-class='result.responseType()')
          h4(ng-click='result.toggle()') {{result.name}}
          span.execution  - {{result.timeAgo()}}
          div(collapse='!result.isCollapsed', style='clear: both;')
            dl.request
              dt url:
              dd {{result.url()}}
              dt status:
              dd {{result.data.response.status}}
              dt requested at:
              dd {{result.executedAt()}}
              dt duration:
              dd {{result.duration()}}ms
            h5 request
            div(hljs='hljs', source='result.requestBody()', ng-show='result.requestBody()')
            h5 response
            div(hljs='hljs', source='result.responseBody()', ng-show='result.responseBody()')
